@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



body{
    overflow-x: hidden ;
}

.welcome-container {
  width: 100vw;
  height: 87vh;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
}

.welcome-image {
  height: 100%;
  background: url('/src/assets/cover-img.png') center center/cover;
  flex: 0 1 53vw;
  position: relative;
}


.welcome-content {
  flex: 0 0 47vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 2rem;
}

.big-bird {
  width: 16rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}

.small-bird {
 width: 3.5rem;
 fill: #1da1f2;
}

.welcome-content h1, .welcome-content h3 {
  color: white;
  font-weight: 900;
}

.welcome-content h1 {
  font-size: 5.5vw;
}

.welcome-content h3 {
  font-size: 2.3rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 3.3rem;
  border-radius: 10vw;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
}

.btn-signup {
  background: #1da1f2;
  color: #fff;
  transition: all .2s ease;
  margin-bottom: 20px;
}

.btn-signup:hover {
  background: #1f94dd;
}

.btn-login {
  border: 1px solid #1da1f2;
  color: #1da1f2;
}

.welcome-footer {
  padding: 1rem 2%;
}

.welcome-footer nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.welcome-footer nav span,
.welcome-footer nav div {
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
  margin: .3rem .5rem;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  transition: all .2s ease;
  cursor: pointer;
}

.welcome-footer nav span:hover {
  border-bottom: 1px solid #ffffff;
}
@media(max-width: 1050px) {
  .welcome-content {
    order: -1;
    max-width: 600px;
    height: 80vh;
    margin: 0 auto;
  }

  .welcome-image {
    height: 50vh;
    flex:  0 1 100vw;
  }

  .welcome-button-container {
    display: flex;
  }

  .btn {
    width: 15rem;
    margin-right: 1rem;
  }

  .welcome-content h1 {
    font-size: 8vw;
  }
}

@media(max-width: 580px) {
  .welcome-content {
    padding: 2rem;
    margin: 0;
  }

  .welcome-button-container {
    flex-direction: column;
  }

  .btn {
    width: 25rem;
  }
  .welcome-content h1 {
    font-size: 10vw;
  }

  .welcome-content h3 {
    font-size: 1.7rem;
  }
}