
.tab {
  overflow: hidden;
  background-color: #f1f1f100;
  display: flex;
  justify-content: space-between;
}

/* Style the buttons inside the tab */
.tab button {
 background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: rgb(136, 153, 166);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(221, 221, 221, 0.171);
}

/* Create an active/current tablink class */
.tab button.active {
 border-bottom: 4px solid rgb(29, 155, 240);
 color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
}
.active-tab {
  display: block;
  
}


