.profile_background_img{
    height: 12.5rem;
    background-color: rgb(61, 84, 102);
    width: 100%;
}
.user_profile_container{
    padding: 1rem;
}
.profile_pic_container{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #15202b;
}
.profile_header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: -6rem;
}
.profile_pic_container img{
    width: 100%;
    height: 100%;
}
.profile_follow_btn{
background-color: white;
border-radius: 2rem;
width: 70px;
height: 30px;
font-weight: 600;
border: none;
margin-left: auto;
cursor: pointer;
}
.profile_btns_container{
    margin-top: 5rem;
}
.follower_following_container{
    display: flex;
    align-items: center;
}
.follower_following_container div:hover{
    text-decoration: underline;
    cursor: pointer;
}
